*{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

body{
 background: #444;
 color: black;
}

#contenedor {
  width: 90%;
  margin: auto;
  margin-top: 40px;
}

#cabecera {
  background: #786FF5;
  height: 90px;
}

#cabecera h1{
  line-height: 90px;
  font-size: 35px;
}

#menu {
  float: left;
  width: 15%;
  height: 300px;
  background: #149AE4;
}

#menu h2{
  line-height: 300px;
  font-size: 30px;
}

#contenido {
  float: left;
  height: 600px;
  width: 85%;
  background: #FFFF95;
}

#contenido h2{
  line-height: 600px;
  font-size: 50px;
  padding: 20px;
}

#pie {
  clear: both;
  background: #E8EE1D;
  height: 50px;
}

#pie h2{
  line-height: 50px;
}

@media screen and (max-width: 860px){

  #contenido{
    width: 100%;
  }

  #menu{
    width: 100%;
    height: 60px;
  }

  #menu h2{
  line-height: 60px;
}


}
